/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
    --red: hsl(349, 68%, 45%);
    --red-dark: hsl(349, 68%, 40%);
    --brand: hsl(0, 0%, 90%);
    --brand-medium: hsl(0, 0%, 90%);
    --brand-dark: hsl(0, 0%, 80%);
    --brand-light: hsl(0, 0%, 95%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
}
a {
    text-decoration: none;
    color: var(--black);
}
