.Notas.uipage .content.ui{
    background-color: var(--brand);
    padding: 2.5rem 3.5rem;
    border-radius: 1rem;
    display: grid;
    width: 70vw;
    gap: 2rem;
}
.Notas.uipage main{
    justify-content: center;
}