.nav-item {
    list-style-type: none;
}
.nav-link {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: max-content;
}
.nav-link:hover * {
    color: var(--red-dark);
}
.nav-link-active * {
    color: var(--red);
}