.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.singin-singup {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;

    display: grid;
    grid-template-columns: 1fr;

    z-index: 5;
    transition: 1.2s 1s ease-in-out;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}
form.sign-up-form {
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}

form.sign-in-form {
    z-index: 5;
    pointer-events: all;
}
.title-form {
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
}
.form-a {
    color: #c2c2c2;
    font-size: 16px;
    margin-left: 180px;
}
.btn {
    width: 380px;
    max-width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;

    background: linear-gradient(-45deg, #BE1332, #C3334D);
    background-size: 200%;
}
.btn:hover {
    background-position: right;
}