* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;

    background: linear-gradient(-45deg, #BE1332, #C3334D);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);

    z-index: 6;
    transition: 2s ease-in-out;
}
.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}