.Horarios.uipage.uipage main{
    justify-content: center;
}
.Horarios.uipage .content.ui{
    background-color: var(--brand);
    padding: 2.5rem 3.5rem;
    border-radius: 1rem;
    display: grid;
    width: 70vw;
    gap: 2rem;
}
.Horarios.uipage .calendar-info{
    flex-wrap: wrap;
    gap: 10px;
}
.Horarios.uipage .css-ess3ih {
    z-index: 3;
}
.Horarios.uipage  .rs__event__item {
z-index: 3!important;
}
.Horarios.uipage.dark-theme .css-12aktbw p{
    color: black;
}